:root {
  --colorPrimario: #009688;
  --colorSecundario: #ffffff;
  --colorTerciario: #f1f1f1;
  --colorTitulo: #757575;
  --colorDivision: #eeeeee;
  --colorIco: #1761c1;
  --colorLogOut: #fff;
  --skillBasica: linear-gradient(to right, #58C77A);
  --skillTotal:  background: linear-gradient(to right, #58C77A, #18A643, #0B812F);
}
.wrapper {
  width: 1375px;
  margin: 0 auto;
  /* border: 1px solid black; */
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: var(--colorTerciario);
  margin-top: 20px;
  margin: 0;
  padding: 0;
}
.header{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(90deg,#1c3643,#273b47 25%, #1e5372);
  margin-bottom: 15px;
}
.icon {
  color: var(--colorLogOut);
  font-size: 1.5em;
  position: relative;
  right: 40px;
}
/**/
.main {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-areas: "left right1" "left right2";
  grid-gap: 20px;
  /* box-shadow: 5px 10px 18px #888888; */
}
.left {
  grid-area: left;
  background-color: var(--colorSecundario);
  box-shadow: 5px 10px 18px #888888;
}
/*profile*/
.profile {
  position: relative;
  height: 450px;
  width: 100%;
}
.profile img{
  height: 100%;
  width: 100%;
}
.profileName{
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  margin-left: 15px;
  font-size: 30px;
}
.profileNameTitle {
  color: #fff;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 18px;
  margin: 0;
  padding: 0;
}
hr {
  margin-top: 20px;
}

.blockIcon {
  display: block;
}
/* .profileName::before {
  content: " » ";
}
.profileName::before {
  content: " ";
} */
/*Skill*/
.division {
  color: var(--colorDivision);
}
.skill {
  height: 25px;
  /* width: 450px; */
  background-color: var(--colorTerciario);
  border-radius: 25px;
}
/*JS*/
.colorGreenJS{
  height: inherit;
  width: 20%;
  background: linear-gradient(to right, #4D94C2, #4D94C2);
  border-radius: 25px;
}
.skillPorcentajeJS{
  display: flex;
  justify-content: center;
  padding-top: 4px;
  color: var(--colorSecundario);
  font-size: 15px;
}
/*HTML*/
.skillPorcentajeHTML{
  display: flex;
  justify-content: center;
  padding-top: 4px;
  color: var(--colorSecundario);
  font-size: 15px;
}
.colorGreenHTML{
  height: inherit;
  width: 80%;
  background: linear-gradient(to right, #4D94C2, #2A7FB6, #096FB1, #065385);
  border-radius: 25px;
}
/*CSS*/
.skillPorcentajeCSS{
  display: flex;
  justify-content: center;
  padding-top: 4px;
  color: var(--colorSecundario);
  font-size: 15px;
}
.colorGreenCSS{
  height: inherit;
  width: 60%;
  background: linear-gradient(to right, #4D94C2, #2A7FB6, #096FB1);
  border-radius: 25px;
}/*PHP*/
.skillPorcentajePHP{
  display: flex;
  justify-content: center;
  padding-top: 4px;
  color: var(--colorSecundario);
  font-size: 15px;
}
.colorGreenPHP {
  height: inherit;
  width: 40%;
  background: linear-gradient(to right, #4D94C2, #2A7FB6, #2A7FB6);
  border-radius: 25px;
}
/*Espaniol*/
.skillPorcentajeEspaniol{
  display: flex;
  justify-content: center;
  padding-top: 4px;
  color: var(--colorSecundario);
  font-size: 15px;
}
.colorGreenEspaniol {
  height: inherit;
  width: 100%;
  background: linear-gradient(to right, #4D94C2, #2A7FB6, #096FB1, #065385, #044168);
  border-radius: 25px;
}
/*Ingles*/
.skillPorcentajeIngles{
  display: flex;
  justify-content: center;
  padding-top: 4px;
  color: var(--colorSecundario);
  font-size: 15px;
}
.colorGreenIngles {
  height: inherit;
  width: 40%;
  background: linear-gradient(to right, #4D94C2, #2A7FB6, #2A7FB6);
  border-radius: 25px;
}
/*Languages*/
/*Lado derecho 1*/
.right1 {
  grid-area: right1;
  background-color: var(--colorSecundario);
  box-shadow: 5px 10px 18px #888888;
}
.right1Icon {
  display: flex;
  align-items: center;
}
.right1Icon img {
  margin-right: 10px;
}
/*Right 2*/
.educationMain{
  grid-area: right2;
  background-color: var(--colorSecundario);
  box-shadow: 5px 10px 18px #888888;
}
.educationContainer {
  margin: 0;
  padding: 20px;
}
.educationIcon {
  display: flex;
  align-items: center;
}
.border{
  height: 1px;
  margin-bottom: 5px;
  border-top: 1px solid black;
}
.icoLeft{
  font-size: 1.5em;
  margin-right: 10px;
}
.educationTitle {
  display: inline;
}
/*Footer*/
.footer {
  width: 100%;
  height: 100px;
  margin-top: 25px;
  padding: 0;
  background: linear-gradient(90deg,#1c3643,#273b47 25%, #1e5372);
}
.footerContainer {
  text-align: center;
}
.iconContainer {
  text-align: center;
}
.footerContainer a {
  text-decoration: none;
  color: #fff;
}
.footerContainer p {
  color: #fff;
}
.ico{
  margin-left: 10px;
  color: #fff;
  font-size: 1.5em;
}
/* <i class="far fa-circle"></i> */